.perform {
  margin: 10vw 0;
}

.perform article {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 8vw;
}
.perform__image,
.perform__detail {
  flex: 0.5;
}
.perform article img {
  width: 100%;
  height: 100%;
}

.perform__detail {
  margin-left: 4vw;
}
.perform__detail h2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  font-weight: 600;
}
.perform__detail p {
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.25rem;
}
.perform__detail ul {
  list-style: none;
  margin-top: 2rem;
}
.perform__detail ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0.5rem 0;
}

.perform__detail ul li p {
  flex: 0.8;
  margin-left: 1rem;
  color: var(--clr-primary);
  font-size: 1rem;
}

@media screen and (max-width: 1000px) {
  .perform article {
    margin: 0 4vw;
  }

  .perform__detail h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 600;
  }
  .perform__detail p {
    font-size: 1.1rem;
  }
  .perform__detail ul {
    margin-top: 2vw;
  }
}

@media screen and (max-width: 750px) {
  .perform article {
    flex-direction: column;
  }
  .perform article:nth-child(1) {
    margin-bottom: 1rem;
    padding: 1rem 0;
    border-bottom: 1px solid var(--clr-primary);
  }
  .perform article:nth-child(2) {
    flex-direction: column-reverse;
  }
}
