@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

:root {
  --clr-primary: rgb(112, 111, 111);
  --clr-primary-light: rgb(182, 168, 168);
  --clr-second: #2b66db;
  --clr-light-black: rgb(37, 35, 35);
  --clr-black-op2: rgba(0, 0, 0, 0.2);
  --clr-custom-icon: #fad55a;
  --clr-features: #b5eaea50;
  --clr-feateres1: #cffae2;
  --clr-card1: #ff00c8;
  --clr-card2: #3db2ff;
  --clr-card3: #fac822;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  transition: all 0.3s linear;
}
body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: white;
}

body::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: var(--clr-primary-light);
}
.home {
  padding: 0 3.3vw;
}

.custom-icon {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background: var(--clr-custom-icon);
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-icon div {
  height: 0.65rem;
  width: 0.4rem;
  border: 1px solid white;
}
.floater {
  position: fixed;
  color: var(--clr-second);
  height: 3rem;
  width: 3rem;
  bottom: 5rem;
  right: 4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--clr-primary);
  font-size: 1.75rem;
  background: white;
  z-index: 100;
  transition: all 0.1s linear;
}
.floater:hover {
  font-size: 2rem;
}
@media screen and (max-width: 1225px) {
  .home {
    padding: 0 2vw;
  }
}
@media screen and (max-width: 450px) {
  .home {
    padding: 0;
  }
  .floater {
    right: 2rem;
    bottom: 3rem;
  }
}
